<ng-container *ngIf="block">
  <div class="entries">
    <ng-container *ngFor="let entry of block.content">
      <h4
        *ngIf="entry.type === 'text' && isTopicHeading(entry.value)"
        class="topic-heading"
        [class.topic-heading-sub]="!isPrimaryTopicHeading(entry.value)"
      >
        {{ formatTopicHeading(entry.value) }}
      </h4>
      <p *ngIf="entry.type === 'text' && !isTopicHeading(entry.value)" class="paragraph">{{ entry.value }}</p>

      <ul *ngIf="entry.type === 'list'" class="bullet">
        <li *ngFor="let item of entry.items">{{ item }}</li>
      </ul>

      <ion-card *ngIf="entry.type === 'callout'" class="callout" [class.danger]="entry.variant === 'danger'" [class.tip]="entry.variant === 'tip'">
        <ion-card-header>
          <ion-card-title>{{ entry.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ entry.value }}</ion-card-content>
      </ion-card>

      <figure *ngIf="entry.type === 'image'" class="image-block">
        <div class="image-placeholder">
          <img [src]="entry.src" [alt]="entry.caption || 'Illustration'" />
        </div>
        <figcaption>{{ entry.caption }}</figcaption>
      </figure>
    </ng-container>
  </div>
</ng-container>
