<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrieren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content" [fullscreen]="true">
  <div class="auth-shell">
    <div class="auth-card">
      <p class="eyebrow">Account anlegen</p>
      <h1>Starte in der Gleisbau Lernwelt</h1>
      <p class="lede">Registriere dich in wenigen Schritten und sichere dir den Zugang zu allen Modulen. (Zur Demo ohne Eingaben moeglich.)</p>

      <form novalidate>
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">Vor- und Nachname</ion-label>
            <ion-input type="text" name="fullName" [(ngModel)]="fullName" placeholder="Max Beispiel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">E-Mail</ion-label>
            <ion-input type="email" name="email" placeholder="du@example.de"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Passwort</ion-label>
            <ion-input type="password" name="password" placeholder="Mindestens 8 Zeichen"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button expand="block" size="large" class="primary-action" type="button" (click)="handleRegister()">
          Registrieren & Einloggen
        </ion-button>

        <div class="auth-footer">
          <span>Schon registriert?</span>
          <a routerLink="/login">Zum Login</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>
